.vs/
BusinessObjects/bin/
BusinessObjects/obj/
COS/bin/
COS/obj/
Marketing/Marketing.csproj.user
Marketing/Properties/PublishProfiles/Marketing.pubxml.user
Marketing/bin/
Marketing/obj/
MessageGearsStatusListener/bin
MessageGearsStatusListener/obj
MyPatient/Properties/PublishProfiles/MyPatient.pubxml.user
MyPatient/bin/
MyPatient/obj/
MyPatientV2.v12.suo
PIC/PIC.csproj.user
PIC/Properties/PublishProfiles/PIC.pubxml.user
PIC/bin/
PIC/obj/
PhoneNumbers/bin/
PhoneNumbers/obj/
TWExternalData/bin/
TWExternalData/obj/
TWresx/bin/
TWresx/obj/
TWresx/obj/Debug
UtilityDataScaffolding/bin/
UtilityDataScaffolding/obj/
UtilityLib/bin/
UtilityLib/obj/
UtilityLib/obj/Debug
UtilityMessageTests/bin
UtilityMessageTests/obj/
WebServices/bin
WebServices/obj
ZMyPatientV2R1/bin/
ZMyPatientV2R1/obj/
